.sapNdcRTCDialogOverlay {
	width: 100%;
	height: 100%;
	position: absolute;
	border: solid #666666b8;
	border-color: transparent;
	z-index: 999;
}

.sapNdcRTCDialogHighlight {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #00FF0088;
}

.sapNdcRTCDialogVideo {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #666666b8;
}

.sapNdcRTCDialogVideo .sapNdcRTCDialogVideoContainer {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.sapNdcRTCDialogOverlay .sapNdcRTCDialogOverlayBox {
	width: 0px;
	height: 0px;
/*	max-height: 75vh;
	max-width: 75vh;*/
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
}

.sapNdcRTCDialogOverlay .sapNdcRTCDialogOverlayLine {
	height: calc(100% - 2px);
	width: 100%;
	background: linear-gradient(180deg, rgba(0, 255, 51, 0) 43%, #00ff33 211%);
	border-bottom: 3px solid #00ff33;
	transform: translateY(-100%);
	animation: radar-beam 2s infinite;
	animation-timing-function: cubic-bezier(0.53, 0, 0.43, 0.99);
	animation-delay: 1.4s;
}

.sapNdcRTCDialogOverlay .sapNdcRTCDialogOverlayBox:after,
.sapNdcRTCDialogOverlay .sapNdcRTCDialogOverlayBox:before,
.sapNdcRTCDialogOverlay .sapNdcRTCDialogOverlayAngle:after,
.sapNdcRTCDialogOverlay .sapNdcRTCDialogOverlayAngle:before {
	content: '';
	display: block;
	position: absolute;
	width: 3vw;
	height: 3vw;

	border: 0.2rem solid transparent;
}

.sapNdcRTCDialogOverlay .sapNdcRTCDialogOverlayBox:after,
.sapNdcRTCDialogOverlay .sapNdcRTCDialogOverlayBox:before {
	top: 0;
	border-top-color: #00ff33;
}

.sapNdcRTCDialogOverlay .sapNdcRTCDialogOverlayAngle:after,
.sapNdcRTCDialogOverlay .sapNdcRTCDialogOverlayAngle:before {
	bottom: 0;
	border-bottom-color: #00ff33;
}

.sapNdcRTCDialogOverlay .sapNdcRTCDialogOverlayBox:before,
.sapNdcRTCDialogOverlay .sapNdcRTCDialogOverlayAngle:before {
	left: 0;
	border-left-color: #00ff33;
}

.sapNdcRTCDialogOverlay .sapNdcRTCDialogOverlayBox:after,
.sapNdcRTCDialogOverlay .sapNdcRTCDialogOverlayAngle:after {
	right: 0;
	border-right-color: #00ff33;
}

@keyframes radar-beam {
	0% {
		transform: translateY(-100%);
	}

	100% {
		transform: translateY(0);
	}
}